.container {
    width: 100%;
    height: 100%;
}

.setting {
    border-top: 1px solid #6a92b7;
    border-bottom: 1px solid #6a92b7;
    height: 55px;
    padding-top: 10px;
    background: #f8f7f9;
    padding-left: 20px;
    cursor: pointer;
}

.clickable:hover {
    background: #dedddf;

}

.clickable * {
    cursor: pointer;
}

.setting:first-child {
    border-top: none;
}

.setting_title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

.setting_descr {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: auto;
}

.flx {
    display: flex;
    flex-direction: row;
}

.input {
    margin: auto 0;
    height: 30px;
    width: 75%;
    font-size: 20px;
    border: none;
    border-bottom: #42b983 solid 2px;
    outline: none;
}

.input:active {
    border: none;
    border-bottom: #42b983 solid 2px;
}

.input_bad:invalid {
    border-bottom: #dba900 solid 2px;
}

.state {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    position: absolute;
    right: 40px;
    top: 20px;
}