.header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background: #2c3e50;
    height: 50px;
}

.header p {
    color: white;
}

.header_content p {
    margin-top: 14px;
    margin-bottom: 0;
}

.flx {
    display: flex;
    flex-direction: row;
}

.header_content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header_content  p:not(.header_settings) {
    margin-left: 20px;
}

.header_settings {
    cursor: pointer;
    margin-right: 20px;
}

.header_settings:hover {
    color: #ececec;
}

.full_page {
    width: 100%;
    height: 100%;
}

.home_content {
    position: absolute;
    width: 100%;
    left: 0;
    height: 621px;
    bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
