.progress {
    height: 100%;
    background: #42b983;
    transition: width 0.5s ease-in-out;
    border-radius: 50px;
}

.progress_container {
    width: 100%;
    height: 17px;
    background: rgba(75, 75, 75, 0.35);
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.infinite_progress {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #42b983;
    animation-name: infinite;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50px;
    animation-timing-function: ease-in-out;
}

.infinite_round_progress {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid;
    border-color: white transparent transparent;
    border-radius: 50%;
    animation-name: spin-infinite;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.62,.25,.41,.65);
}

@keyframes infinite {
    0%   {
        width: 40%;
        left: -40%;
    }

    100% {
        width: 40%;
        left: 100%;
    }
}

@keyframes spin-infinite {
    100%{transform: rotate(360deg)}
}