.login_page{
    width: 50%;
    margin: auto;
}

.register_link {
    text-align: center !important;
    margin-top: 75px;
}

.input_container > p {
    font-size: 60px;
    margin: auto;
}

.input_container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 75%;
    height: 100px;
}

.input {
    margin: auto 0;
    height: 30px;
    width: 75%;
    font-size: 20px;
    border: none;
    border-bottom: #42b983 solid 2px;
    outline: none;
}

.input:active {
    border: none;
    border-bottom: #42b983 solid 2px;
}

.input_bad:invalid {
    border-bottom: #dba900 solid 2px;
}

.login_button {
    margin-top: 20px;
    width: 135px;
    height: 45px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #42b983;
    box-shadow: rgba(66, 185, 131, 0.66) 0 0 30px;
    color: white;
    display: inline-block;
    cursor: pointer;
    transition: width 2s;
}

.login_button > p {
    margin: 10px 40px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login_button:active {
    background: #1b9a59;
}

.invalid {
    width: 100%;
    text-align: center !important;
    color: #E30C00;
    font-weight: 900;
    position: absolute;
    left: 0;
    font-size: 20px;
    margin-top: 20px;
}