.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tabs {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
}

.tab {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.tab:last-child {
    border-right: none !important;
}
.tab:first-child {
    border-left: none !important;
}

.tab:not(.tab_selected) {
    border: solid 2px #8ea0b1;
    border-bottom: none;
}

.tab p {
    margin: 8px 0 0;
    text-align: center !important;
    width: 100%;
}

.tab_selected {
    background: #b8cdde;
    border-bottom: solid 2px #8ea0b1;
}

.content {
    padding-top: 5%;
    width: 100%;
    height: 95%;
}