.notif {
    border-radius: 7px;
    margin: 10px;
    background: rgba(248, 247, 249, 0.98);
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px;
    padding: 7px;
}

.flex_row{
    display: flex;
    justify-content: normal;
    overflow: hidden;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.notif_content{
    width: 100%;
}

.input_notif{
    font-family: Roboto, sans-serif;
    color: #232323;
    border: none;
    border-bottom: 2px solid #1b9a59;
    width: 350px;
    font-size: 15px;
    height: 25px;
    background: transparent;
}

.input_notif:focus {
    outline: none;
}

.input_container{
    padding-left: 5px;
    margin-top: 5px;
}

.img_notif{
    width: 40px;
    height: 40px;
    background: #2c3e50;
    margin-right: 5px;
}

.notif_text{
    margin-left: 5px;
    margin-right: 5px;
    width: 315px;
    height: 60px;
}

.notif_text_title{
    color: #232323;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    width: 300px;
    height: 15px;
    text-overflow: ellipsis;
}

.notif_text_content{
    color: rgba(55, 55, 55, 0.95);
    margin: 4px 0 0;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 17px;     /* fallback */
    max-height: 34px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.send_button{
    font-size: 28px;
    color: #1b9a59;
    cursor: pointer;
    margin: 0 0 0 15px;
    width: 50px;
    height: 25px;
    user-select: none;
}

.send_button:hover{
    color: #114925;
}

.close_button{
    color: rgba(135, 135, 135, 0.95);
    position: absolute;
    top: 12px;
    right: 12px;
    user-select: none;
}
.close_button:hover{
    cursor: pointer;
}