.snackbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #252525;
    transition: width 3s;
    overflow: hidden;
    animation-name: show;
    animation-duration: 1s;
    animation-timing-function: ease;

}

@keyframes show {
    0%   {height: 0}
    100% {height: 50px}
}