.dialog_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.16);
}

.dialog {
    width: 30%;
    height: 30%;
    margin: auto;
    background: white;
}
.title {
    font-size: larger;
}

.description {

}